{% extends 'base.html' %}

{% block title %}
    Статья #{{ article.id }}: {{ article.title }}
{% endblock title %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <div>
        <p>{{ article.body }}</p>
        <div>Опубликовано {{ article.dt_created }} </div>
        <div>Автор {{ article.author.user.username }} </div>
    </div>
    {% if article.tags %}
        <div>Теги:</div>
        <ul>
            {% for tag in article.tags %}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock body %}