{% extends 'base.html' %}

{% block title %} Список статей {% endblock title %}
{% block body %}
<h2>Список статей:</h2>
<!-- <ul>
    {% for id in articles_list %}
    <li><a href="{{ url_for('articles.render_article_by_pk', pk=id) }}"> {{ articles_list[id]['title'] }}</li></a>
    {% endfor %}
</ul> -->

<div>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{{url_for('articles_app.details', article_id=article.id) }}">{{ article.title }}</a>
                автор: {{ article.author.user.username }} 
            </li>
        {% endfor %}
    </ul>
    <hr>
    <a href="{{ url_for('articles_app.create') }}">Написать статью</a>
</div>

{% endblock body %}